// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

//Fonts
* {
    font-family: 'Source Sans Pro';
}

.clearfix {
    &::after {
    display: block;
    content: "";
    clear: both;
  }
}

.item-ios h2 {
    font-size: 24px;
    font-weight: 600;
    color: #444444
}


.center {
    text-align: center;
}

.no-scroll {
    overflow-y: hidden;
    background: red
}

//buttons
.button-md, .button-ios {
    font-size: 21px;
    height: 50px;
    font-weight: 300;
    text-transform: uppercase;
}

.button-md-light, .button-ios-light {
    color: #444444;
}

.primarycolor {
        color: #E94B35 !important;
    }


//forms

.item-ios {
    padding-left: 0;
}

.label-ios + ion-input .text-input, .label-ios + ion-textarea .text-input, .label-ios + .input + .cloned-input {
    margin-left: 4px;
}

.label-ios {

        ion-icon {
            width: 16px;
        }
}

//Side Menu
.menu-logo {
    padding: 7px;
    .img-logo {
        height: 80px;
        height: 80px;
    }
}

.menu-profile-pic {
    width: 30px;
    border-radius: 50%;
    border: 1px solid #fff;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
}

.bar-button-menutoggle-ios {
    margin: 0;
}

.list-ios .item-block .item-inner {
    padding: 15px;
    color: #444444;
}

//Navbar 

ion-navbar {
    border-bottom: 1px solid #E0E0E0 !important;
    color: #444444;
}

    
ion-navbar.toolbar {
    button[icon-only] {
        font-size: 14px;
        margin-right: 2px;
    }
}

//Tabs
.tabs-ios .tabbar {
    background: #fff;
    border-top: 1px solid #ececec;
}

.tabs-ios .tab-button-icon {
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 25px;
    color: #444444;
}

//Main menu 

.toolbar-ios-light .toolbar-title-ios, .toolbar-ios-light .bar-button-clear-ios, .toolbar-ios-light .bar-button-default-ios {
    color: #444444 !important;
}

.main-item {
    margin-top: -12px;
    margin-bottom: -16px;
    border-radius: 0;
    margin-left: -7px;
    padding: 20px 15px;
    color: #444444;
}

.active-main-item {
    border-bottom: 3px solid #E94B35;
    font-weight: 600;
}

//Off White Background for Content Section
.bg {
  background-color: #fff !important;
}

//Center Fab Button on Create Page
.float-butt {
    button {
        margin: 0 auto;
    }
}

//Post Section
.postItem {
    border-bottom: 1px solid #E0E0E0 !important;
    .user, .date {
        font-size: 12px;
    }
    .likes {
        padding-left: 3px;
        font-size: 14px;
    }
}

//Thumbs Up & Down Icon Size
.voter {
    font-size: 30px !important;
}

ion-tabs {
    .ion-md-add {
        color: #444444;
    }
}

.blankstate {
    text-align: center;
    padding: 90px 50px;
    font-size: 25px;
    color: #989898;
    font-weight: 700;
}

// /* This used to work for the parent element of button divs */
// /* But it does not work with newer browsers, the below doesn't hide the play button parent div */

// *::-webkit-media-controls-panel {
//   opacity: 0!important;
// }

// /* Old shadow dom for play button */

// *::--webkit-media-controls-play-button {
//   opacity: 0!important;
// }

// /* New shadow dom for play button */

// /* This one works! */

// *::-webkit-media-controls-start-playback-button {
//   opacity: 0.5!important;
// }