<!--
  Generated template for the PreviewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  <ion-navbar color="light" transparent>


    <ion-buttons end>
      <button ion-button (click)="publish()">
        <span style="color: #E94B35;">Publier</span>
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>

<ion-content>

	  <!-- Post meta -->
	  <div class="post-meta">
	    <img src={{profilepic}} class="menu-profile-pic">
	    <p class="user-detail">{{post.name}}</p>
	    <p class="user-location">Paris, France.</p>
	  </div>


	  <!-- Post Details -->
	  <ion-item text-wrap no-lines class="postItem">
	    <div class="post-page-content">
	      <h2 color="light" class="post">{{post.title}}</h2>
	    </div>
	  </ion-item>

	<ion-list class="recipe-content"
            no-lines>
    <!-- Post Content -->

  <div *ngFor="let image of imagesList; let i = index; trackBy:image?.key">

    <ion-item>

       <div class="photo" *ngIf="image.type == 'photo'" >
         <img src="{{image.url}}"
                   class="background"
                   height="100vw"
                   width="100%" />
       </div>

       <div class="photo video" *ngIf="image.type == 'video'">
         <video #video src="{{image.url}}" webkit-playsinline playsinline preload="none" loop muted autoplay
                      (loadedmetadata)="videoClicked(video)">
         </video>
       </div>

       <div class="text">
          <ion-item class="paragraph" *ngIf="image.explanation">
            {{image.explanation}}
          </ion-item>
       </div>

    </ion-item>

    </div>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar color="primary" (click)="publish()">
    <ion-title>Publier la recette</ion-title>
  </ion-toolbar>
</ion-footer>