<ion-header no-border>
  <ion-navbar color="light" transparent>

  	<ion-buttons start *ngIf="navCtrl.canGoBack()==false">
      <button ion-button (click)="dismiss()">Fermer</button>
    </ion-buttons>

    <ion-spinner end name="ios" *ngIf="uploading"></ion-spinner>

    <ion-buttons end>

	  <button ion-button (click)="toDrafts()">
        <span style="color: #a9a9a9;">Brouillons</span>
      </button>

      <button ion-button (click)="preview()" [disabled]="postid == false ? true : false">
        <span style="color: #E94B35;">Prévisualiser</span>
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content>

	<form [formGroup]="postForm" class="form">
		<ion-item class="textarea-item">
	        <textarea #textarea class="paragraph title" formControlName="title" type="text" placeholder="Écrire un titre..."
	        			  autocorrect="on"
	        			  autocomplete="on"
	        			  [style.height.px]="textarea.scrollHeight"
						  (input)="autosize(textarea)"
	        (change)="changeFunction(title, 'title')" value="{{title}}">
			</textarea>
	    </ion-item>
	</form>

	<div *ngFor="let image of imagesList; let i = index; trackBy:image?.key">
		<div class="photo" *ngIf="image.type == 'photo'"
			 (press)="photoAction(image)">
			<div class="typetag"><ion-icon name='md-camera'></ion-icon></div>

			<img src="{{image.url}}"
                   class="background"
                   height="100vw"
                   width="100%" />

		</div>

		<div class="photo video" *ngIf="image.type == 'video'">
			<div class="typetag"><ion-icon name='md-videocam'></ion-icon></div>

			<video #video src="{{image.url}}" webkit-playsinline playsinline preload="none" loop muted autoplay
				   (loadedmetadata)="videoClicked(video)"></video>

		</div>

		<form [formGroup]="postForm" class="form">
	        <ion-item class="textarea-item">
	        	<textarea #textarea class="paragraph" formControlName="post" type="text" placeholder="Expliquez cette étape..."
	        				  autocorrect="on"
	        			  	  autocomplete="on"
	        			  	  (input)="autosize(textarea)"
	        			  	  [style.height.px]="textarea.scrollHeight"
	        	(change)="changeFunction(image.key, 'explanation')" value="{{image.explanation}}">
	        	</textarea>
	        </ion-item>
	    </form>

	</div>

	<ion-item (click)="photoSelect()" class="photo add">
		<ion-icon name="md-images" class="photo-icon"></ion-icon>
		Ajouter une photo ou une vidéo
	</ion-item>

</ion-content>
